@model SampArch.Domain.Ideas.Idea

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Suggest</legend>

    <div class="display-label">CreationDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreationDate)</div>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Detail</div>
    <div class="display-field">@Model.Detail</div>

    <div class="display-label">Author</div>
    <div class="display-field">@Model.Author</div>

    <div class="display-label">Votes</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Votes).ToString()</div>

    <div class="display-label">Comments</div>
    <div class="display-field">@(Model.Comments == null ? "None" : Model.Comments.Count.ToString())</div>

    <div class="display-label">Tags</div>
    <div class="display-field">@(Model.Tags == null ? "None" : Model.Tags.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


